<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>検索画面(serch.html)</h1>
	<h2>IDから検索する</h2>
    <form action="#" th:action="@{/serchById}" method="post">
        <p>ID: <input type="text" name="id" /></p>
        <p><input type="submit" value="検索" /> <input type="reset" value="Reset" /></p>
    </form>
	<h2>名前から検索する</h2>
        <form action="#" th:action="@{/serchByName}" method="post">
        <p>名前: <input type="text" name="name" /></p>
        <p><input type="submit" value="検索" /> <input type="reset" value="Reset" /></p>
    </form>
    <p>検索結果</p>
    <p>――――――――――――――――――――</p>
    <p th:text="${serchData}"></p>
    <p>――――――――――――――――――――</p>
    <a href="/input">登録画面へ</a>
    <a href="/">トップ画面へ</a>
</body>
</html>